<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <table width="100" border="0" cellspacing="0" cellpadding="0" align="center" style="border:1px solid #a1a1a1">
        <tbody>
            <tr>
                <td valign="top">
                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                        <tbody>
                            <tr>
                                <td valign="top">
                                    <img src="../Content/images/library_image_.jpg" alt="Library Management System" title="Library Management System" width="486" height="100" class="CToWUd"/>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" style="font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;color:#000000;padding-left:20px">
                                    <strong>
                                        Dear {username}
                                        ,
                                    </strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td align="left" valign="top" style="font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#000000;padding-left:20px;padding-top:10px;padding-right:15px">
                                    Request regarding forgot password. Following are your login details:
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td align="left" valign="top" style="height:87px">
                    <table width="486" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td valign="top" bgcolor="#fb7204">
                                    <table width="486" border="0" cellspacing="0" cellpadding="0" bgcolor="#fb7204">
                                        <tbody>
                                            <tr>
                                                <td width="20" valign="top"></td>
                                                <td align="left" valign="top" style="font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#fff;padding-bottom:6px;padding-top:11px">
                                                    <strong>User Name: <a href="mailto:{userEmail}" target="_blank">{userEmail}</a></strong><a style="text-decoration:underline;color:#fff"></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    &nbsp;
                                                </td>
                                                <td valign="top" style="font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#fff">
                                                    <strong>Password: {password}</strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td valign="top"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="left" valign="top">
                    <table width="486" border="0" cellspacing="0" cellpadding="0" style="font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#000000">
                        <tbody>
                            <tr>
                                <td valign="top" style="padding-top:8px;padding-right:15px">
                                    <p>
                                        For reading terms and conditions of the policy in detail, log on to our website–
                                        <a href="http://localhost:58430/" style="text-decoration:underline;color:#000000" target="_blank" data-saferedirecturl="http://localhost:58430/"><strong><wbr>LibrarySystem </strong></a>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="left" valign="top" style="font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#000000;padding-left:20px;padding-top:16px;padding-bottom:12px">
                    <strong>
                        Library Management System Company Ltd.
                    </strong>
                </td>
            </tr>
            <tr>
                <td align="left" valign="top" style="border-top:1px solid #fb7e19;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10px;color:#000000;padding-left:20px;padding-top:9px;padding-bottom:9px" bgcolor="#f3f3f3">
                    Library Management System Company Ltd. IRDA Registration No. 007
                    Central Processing Centre: 9nd and 1256rd Floor, iLABS Centre, Plot No. 000-000, Udyog Vihar, Phase-IIIIII, Gurgaon-3333333 | Registered Office: Library Management System Complex, Jubilee Hills, Hyderabad-500000.
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
