
@{
    ViewBag.Title = "forgetPassword";
    Layout = "~/Views/Shared/_LayoutInitalEmpty.cshtml";
}



<p class="login-box-msg"><span style="font-size:24px;font-weight:bold">Forgot Password</span></p>
<form id="forgotPasswordForm">
    <div class="EmailContent">
        <p class="login-box-msg">Enter email address for verification of your email for setting new password:</p>
        <div class="form-group has-feedback" data-bind="validationElement: elemObj.strFPEmail">
            <input data-bind='value: elemObj.strFPEmail, valueUpdate: "afterkeydown"' type="text" class="form-control" placeholder="Email">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-8">
            </div>
            <!-- /.col -->
            <div class="col-xs-4">
                <button type="submit" data-bind="{enable: elemObj.strFPEmail().length > 4, click: validateEmail}" class="btn btn-primary btn-block btn-flat">Verify</button>
            </div>
            <!-- /.col -->
        </div>
    </div>
    <div class="PasswordContent">
        <p class="login-box-msg">Enter the OTP that sent to your email Address</p>
        <div class="form-group has-feedback" data-bind="validationElement: elemObj.strFPOtp">
            <input data-bind='value: elemObj.strFPOtp, valueUpdate: "afterkeydown"' type="text" pattern="/^\d+$/" class="form-control" placeholder="Enter OTP">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-8">
            </div>
            <!-- /.col -->
            <div class="col-xs-4">
                <button type="submit" data-bind="{enable: elemObj.strFPOtp().length > 6, click: validateOTP}" class="btn btn-primary btn-block btn-flat">Submit</button>
            </div>
            <!-- /.col -->
        </div>
    </div>
    <div class="PasswordSetUpContent">
        <p class="login-box-msg">Enter new Password</p>
        <div class="form-group has-feedback" data-bind="validationElement: elemObj.strFPNPassword">
            <input data-bind='value: elemObj.strFPNPassword, valueUpdate: "afterkeydown"' type="password" class="form-control" placeholder="Enter New Password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback" data-bind="validationElement: elemObj.strFPRPassword">
            <input data-bind='value: elemObj.strFPRPassword, valueUpdate: "afterkeydown"' type="password" class="form-control" placeholder="Enter Re-type Password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-8">
            </div>
            <!-- /.col -->
            <div class="col-xs-4">
                <button type="submit" data-bind="{enable: elemObj.strFPNPassword().length !=0 && elemObj.strFPRPassword().length != 0 &&elemObj.strFPNPassword().length == elemObj.strFPRPassword().length, click: validateNewPassword}" class="btn btn-primary btn-block btn-flat">Update</button>
            </div>
            <!-- /.col -->
        </div>
    </div>
</form>
<hr />
<!-- /.social-auth-links -->
<div class="EmailContent">
    <a href="/Login/Index"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;Get Back to Login</a><br>
</div>
