
.navbar-shadow {
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

 .navbar-nav {
      flex-direction: row;
    }
    
    .nav-link {
      padding-right: .5rem !important;
      padding-left: .5rem !important;
    }